.mainHeroDivider {
    background-color: #f8f9fa;
    
  }

  
  .heroBoxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }

  .homeProductBackground{
    background: url(/src/assets/images/pexels-rdne-6724529.jpg)  center center/cover;
   
}

.realestateBackground{
  background: url(/src/assets/images/pexels-pixabay-208736.jpg) center center/cover;
}
  

  .heroBox {
    width: 50%;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .mainHeroIllustration {
    max-width: 100%;
    width: 100%;
    height: 70%;
    border-radius: 10px;
  }
  
  .mainHeroHeading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .mainHeroParagraph {
    font-size: 16px;
    color: #555;
  }
  
  .mainHeroBtn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .mainHeroBtn:hover {
    background-color: #218838;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .heroBox {
      max-width: 100%;
    }
  
    .mainHeroHeading {
      font-size: 20px;
    }
  
    .mainHeroParagraph {
      font-size: 14px;
    }
    .mainHeroBtn {
     font-size: 5em;
      }

      .heroBox {
        width: 100%;
        }
  }
  