.quickSearchContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
  }
  
  .quickSearchLink {
    text-decoration: none;
    color: white;
    background-color: rgba(196, 153, 81, 1);
    font-size: 1.5rem;
    padding: 0.8rem 1.2rem;
    font-family: 'fantasy';
    transition: background-color 0.3s ease-in-out;
  }
  
  .quickSearchLink:hover {
    background-color: rgba(180, 140, 70, 1);
  }
  
  @media (max-width: 768px) {
    .quickSearchContainer {
    gap:3rem;
    
    }
    .quickSearchLink {
      font-size: 4.2em;
      padding: 0.7rem 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .quickSearchLink {
      font-size: 4rem;
      padding: 2.6rem 1rem;
    }
  }
  